.scroll-view .message-item{
  max-height: 2rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.message-item.self{
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.message-item .chat-avatar{
  margin-right: 0.1rem;
  margin-left: 0;
  width: 0.4rem;
  height: 0.4rem;
}
.message-item.self .chat-avatar{
  margin-left: 0.1rem;
  margin-right: 0;
}
.chat-message{
  font-size: 0.17rem;
  line-height: 0.22rem;
  max-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}
.chat-message  .pending{
  background: url("/static/images/pending.gif") no-repeat center;
  background-size: 0.15rem;
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.05rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.chat-message .send-fail{
  background: url("/static/images/failed.png") no-repeat center;
  background-size: 0.15rem;
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.05rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.chat-message .text-content{
  padding: 0.08rem;
  border-radius: 0.06rem;
  color: #ffffff;
  background:#618DFF;
  word-break: break-all;
  text-align: left;
  vertical-align: center;
  display: block;
}
.chat-message .text-content img{
  width: 0.25rem;
  height: 0.25rem;
}
.chat-message .image-content{
  padding: 0.08rem;
  border-radius: 0.06rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.chat-message .image-content img{
  width: 100%;
  height: 100%;
}
.chat-message .file-content{
  width:2rem;
  height: 0.8rem;
  background: #EFEFEF;
  overflow: hidden;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
}
.chat-message .file-content img{
  width:0.5rem;
  height: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.1rem;
}
.chat-message .file-content .description{
  font-size: 0.14rem;
  display: flex;
  flex-direction: column;
  width: 1.3rem;
}
.chat-message .file-content .description .title{
  height: 0.4rem;
  line-height: 0.2rem;
  width: 100%;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}
.chat-message .file-content .description .size{
  height: 0.3rem;
  width: 100%;
  text-align: left;
  font-size: 0.12rem;
  color: #666666;
}
.chat-message .video-content{
  position: relative;
  height: 1.5rem;
  max-width: 2rem;
  background: #000000;
}
.chat-message .video-content img{
  max-height: 1.5rem;
  max-width: 2rem;
}
.chat-message .video-content video {
  max-height: 1.5rem;
  max-width: 2rem;
}
.chat-message .video-content .video-play-icon{
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background:url("/static/images/play.png") no-repeat center;
  background-size: 100%;
  top:50%;
  left: 50%;
  margin:-0.1rem;
}
.chat-message .custom-message{
  width: 2rem;
  height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.05rem 0.15rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}
.chat-message .custom-message .title{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.15rem;
  height: 0.25rem;
  overflow: hidden;
}
.chat-message .custom-message .title img{
  width: 0.2rem;
  height: 0.2rem;
}
.chat-message .custom-message .custom-message-item{
  text-align: left;
  font-size: 0.14rem;
  overflow: hidden;
  width: 100%;
  text-overflow:ellipsis;
  white-space: nowrap;
}