.custom-message{
  padding: 0 0.2rem;
}

.custom-message .title{
  text-align: center;
  font-weight: 600;
  font-size: 0.2rem;
  color: #000000;
  text-align: center;
  line-height: 1rem;
}

.custom-message .orders {
  display: flex;
}

.custom-message .orders .orders-title {
  height: 0.4rem;
  padding: 0.05rem;
  margin-top: 0.2rem;
  font-size: 0.14rem;
}

.custom-message .order-item{
  height: 0.4rem;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}
.custom-message .order-item span{
  width: 0.65rem;
  text-align: right;
  line-height: 0.4rem;
  font-size: 0.14rem;
}
.custom-message .order-item input{
  width: 2.5rem;
  background: #EFEFEF;
  box-sizing: border-box;
  padding: 0.05rem;
  font-size: 0.14rem;
  height: 0.4rem;
  border-radius: 0.05rem;
  outline: none;
  border: 1px solid #cccccc;
}

.custom-message .action {
  height: 0.4rem;
  display: flex;
  justify-content: space-around;
  margin-top: 0.2rem;
}

.custom-message .send-btn{
  width:1.2rem;
  height: 0.4rem;
  background: #618DFF;
  line-height:0.4rem;
  text-align: center;
  border-radius: 0.05rem;
  color: #FFFFFF;
  font-size: 0.16rem;
}
.custom-message .cancel-btn{
  width:1.2rem;
  height: 0.4rem;
  background: #FFFFFF;
  line-height:0.4rem;
  text-align: center;
  border-radius: 0.05rem;
  color: #666666;
  font-size: 0.16rem;
  border: 1px solid gray;
}