.index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow-x: hidden;
}

.tab-bar {
    display: flex;
    justify-content: space-around;
    height: 0.48rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.33);
    background-color: rgb(248, 247, 247);
}

.tab-bar-item {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: 0.48rem;
}

.tab-bar-item img {
    width: 0.25rem;
    height: 0.25rem;
}

.tab-bar-item span {
    font-size: 0.1rem;
    line-height: 0.12rem;
}

.active {
    font-size: 0.1rem;
    color: rgb(97, 141, 255);
}

.link {
    flex: 1;
    display: block;
    position: relative;
    color: rgb(69, 71, 80);
}

.unread-msg-num {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0.02rem;
    left: 0.65rem;
    z-index: 1000;

    min-width: 0.178rem;
    min-height: 0.178rem;
    border-radius: 0.08rem;

    font-size: 0.12rem;
    text-align: center;
    color: #fff;
    background-color: #F43530;
}