.login {
  padding: 1.06rem 0.18rem 0 0.18rem;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login .title {
  font-size: 0.42rem;
  font-family: Source Han Sans CN;
  font-style: normal;
  font-weight: bold;
  color: #D02129;
  outline: none;
  margin-bottom: 1rem;
}

.login .input-box {
  width: 3.4rem;
  height: 0.5rem;
  margin-bottom: 0.2rem;
  padding: 0.13rem;
  font-size: 0.16rem;
  border: 1px solid grey;
}

.login .alert-box {
  width: 3.4rem;
  height: 0.6rem;
  margin-bottom: 0.2rem;
  padding: 0.18rem 0.1rem;
  font-size: 0.16rem;
  line-height: 0.24rem;
  display: flex;
  align-content: center;
  background: rgba(208, 33, 41, 0.1);
  overflow: hidden;
  color: #D02129;
}

.login .login-btn {
  width: 3.4rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.18rem;
  text-align: center;
  color: #ffffff;
  background: #618DFF;
  outline: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.05rem;
}

.login .login-tips {
  color: #999999;
  font-size: 0.14rem;
  margin-top: 0.3rem;
}